<launch>
    <param name="robot_description" textfile="$(find station_neu)/urdf/station_neu.urdf"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot"/>


    <rosparam file="$(find station_moveit_config)/config/ros_controllers.yaml" command="load"/>    
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="knick_arm_controller scara_arm_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
