<launch>
  <!-- 1. Lade URDFs als plain text (kein xacro!) -->
  <group ns="robot1">
    <param name="robot_description" textfile="$(find baugruppe_arti4)/urdf/baugruppe_arti4.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher_gui_robot1" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-param robot_description -urdf -model roboter1 -x 0 -y 0 -z 0" />
  </group>

  <group ns="robot2">
    <param name="robot_description" textfile="$(find scara_urdf)/urdf/scara_urdf.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher_gui_robot2" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="spawn_scara" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-param robot_description -urdf -model roboter2 -x 3 -y 0 -z 0" />
  </group>

  <!-- Starte Gazebo mit benutzerdefinierter Welt -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find baugruppe_arti4)/worlds/world.world"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Starte RViz mit gespeicherter Config -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find baugruppe_arti4)/rviz/my_config.rviz" />
</launch>
